@use "../../utils/mixins";
@use "../../utils/variables";

.section-banner {
  position: relative;
min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 124px;
  padding-bottom: calc(16vh + 8px);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-left: 41%;
    height: 100%;
  }

  .btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 16px;
    font-weight: 500;
    right: 0;
    bottom:0;
    background: radial-gradient(circle, #3FA535 0%, transparent 100%);
    color: #ffffff;
    z-index: 1;

    img {
      margin-left: 8px;
    }
  }

  &__slogan {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    padding-top: 56px;
    color: #fff;
    margin-bottom: 32px;
  }

  .wrap-img {
    position: absolute;
    left: 0;
    bottom: 16vh;
    max-width: 712px;
    z-index: 1;
  }

  //@include mixins.respond-to(variables.$xl) {
  //  &__slogan {
  //    font-size: 54px;
  //  }
  //}
  @include mixins.respond-to(variables.$lg) {
    min-height: 632px;
    &__slogan {
      font-size: 46px;
    }
  }
  @include mixins.respond-to(variables.$md) {
    min-height: 560px;
    &__slogan {
      font-size: 40px;
      max-width: 428px;
    }
  }
  @include mixins.respond-to(variables.$sm) {
    padding-top: 95px;
    .wrap-img {
      display: none;
    }
    .bg-effect-1,
    .bg-effect-gif {
      display: none;
    }
  }
  @include mixins.respond-to(variables.$xxs) {
    &__slogan {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}