@use "../../utils/mixins";
@use "../../utils/variables";

.section-banner {


  @include mixins.respond-to(variables.$xl) {
    &__slogan {
      font-size: 54px;
    }
  }
  @include mixins.respond-to(variables.$lg) {
    min-height: 632px;
    &__slogan {
      font-size: 46px;
    }
  }
  @include mixins.respond-to(variables.$md) {
    min-height: 560px;
    &__slogan {
      font-size: 40px;
      max-width: 428px;
    }
  }
  @include mixins.respond-to(variables.$sm) {
    padding-top: 95px;
    .wrap-img {
      display: none;
    }
    .bg-effect-1,
    .bg-effect-gif{
      display: none;
    }
  }
  @include mixins.respond-to(variables.$xxs) {
    &__slogan {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}