@use "../utils/mixins";
@use "../utils/variables";

.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: .35s;
  font-size: 18px;
  font-weight: 700;
  font-family: variables.$main-font;
  border-radius: 8px;
  border: none;
  padding: 16px 24px;
  img {
    width: 24px;
    height: 24px;
  }
  &_main {
    color: variables.$white;
    position: relative;
    background-clip: padding-box;
    background: variables.$green-200;
    transition: .5s;

    &:hover,
    &:focus {
      background-color: #c8e514;
      color: variables.$white;

    }
  }

  &_outline {
    border: 1px solid variables.$green-200;
    background-color: #ffffff;
    color: #3fa535;
    &:hover,
    &:focus {
      border: 1px solid #c8e514;
      background-color: #ffffff;
      color: #c8e514;
    }
  }

  &_secondary {
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    padding: 12px 16px 12px 24px;
    background-color: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    &:hover,
    &:focus {
      border: 1px solid #c8e514;
      background-color: #ffffff;
      color: #c8e514;
    }
  }
}

.round {
  position: relative;
  border-radius: 50%;
  border: 8px solid #edf8ed;
  width: 64px;
  height: 64px;
  background-color: #c8e514;
  cursor: pointer;
  transition: .35s;

  &:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(../assets/img/svg/plus2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    z-index: 2;

  }
}

