@use "../utils/mixins";
@use "../utils/variables";

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  line-height: 1;
  color: variables.$white;
  &__item {
    padding: 5px 12px;
    text-align: center;
  }

  &__link {
    display: inline-block;
    transition: .35s;

    &:hover,
    &:focus {
      color: #1e1e1e;
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .menu{
    color: #1e1e1e;
  }
    .menu__item {
      padding-left: 16px;
      padding-right: 16px;
  }
}
