@use "../utils/mixins";
@use "../utils/variables";

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  line-height: 1;
  color: #4d594c;

  &__item {
    padding: 5px 12px;
    text-align: center;
    flex-shrink: 0;
  }

  &__link {
    display: inline-block;
    transition: .35s;

    &:hover,
    &:focus {
      -webkit-text-stroke: .5px variables.$main-color;
      text-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .menu{
    color: #1e1e1e;
  }
    .menu__item {
      padding-left: 16px;
      padding-right: 16px;
  }
}
