
$white: #ffffff;
$black-blue: #24243F;

$blue: #0062B3;
$blue-100: #0088EC;
$sky-blue: #25A3E5;

$main-color:#4d594c;
$green: #59CE57;
$green-100: #3BB239;
$green-200: #3fa535;


$main-font:  "Gilroy", sans-serif;

// Screen Variables

$xxs: '(max-width: 420px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1180px)';
$screen-md: '(max-width: 1350px)';
$xl:'(max-width: 1480px)';


