@use "../utils/mixins";
@use "../utils/variables";

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;

  @include mixins.respond-to(variables.$xl){
    max-width: 1200px;
    background-color: red;
  }

  @include mixins.respond-to(variables.$lg){
    max-width: 980px;
  }
  @include mixins.respond-to(variables.$md){
    max-width: 720px;
  }
  @include mixins.respond-to(variables.$sm){
    max-width: 580px;
  }

  @include mixins.respond-to(variables.$xs){
    max-width: 420px;
     }
  @include mixins.respond-to(variables.$xxs){
    width: 100%;
    padding: 0 10px;
  }
}