@use "../utils/mixins";
@use "../utils/variables";

.header {
  padding: 24px 16px 0;
  position: fixed;
  background-color: transparent;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 16px;
  color: variables.$white;

  .container-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
  }

  .bg_frosted {
    position: relative;
    border: 1px solid variables.$green;
    border-radius: 16px;
    padding: 20px 24px;
    overflow: hidden;
    background-color: transparent;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(63, 165, 53, 0.1);
      backdrop-filter: blur(16px);
      z-index: -1;
    }
  }

  &_home {
    .menu{
      color: variables.$white;
      &__link{
        &:hover,
        &:focus {
          -webkit-text-stroke: .5px variables.$white;

        }
      }
    }
    .bg_frosted {
      border: 1px solid variables.$white;

      &:before {
        background: rgba(255, 255, 255, 0.2);
      }
      .header__logo{
        filter: brightness(1000%) saturate(0%);
      }
    }

    &.active {
      .menu{
        color: #4d594c;
        &__link{
          &:hover,
          &:focus {
            -webkit-text-stroke: .5px variables.$main-color;
            text-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
          }
        }
      }
      .bg_frosted {
        border: 1px solid variables.$green;

        &:before {
          background: rgba(63, 165, 53, 0.1);
        }
      }
      .header__logo{
        filter: none;
      }
    }
  }

  &__nav {
    flex-grow: 1;
    margin: 0 18px;
  }

  &__logo {
    display: block;
    max-width: 160px;

    img {
      display: block;
      width: 100%;
    }
  }

  .btn-burger {
    border: none;
    background-color: transparent;
    display: none;
    padding: 5px;
    width: 34px;
    height: 27px;

    .line {
      display: block;
      width: 24px;
      height: 2px;
      margin-bottom: 5px;
      background-color: variables.$white;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-close {
    position: absolute;
    display: none;
    width: 54px;
    height: 54px;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);

  }


  .round:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &__nav-bar {
    display: none;
  }

  .btn_buy {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 4px 13px 0 #3fa535;
    padding: 12px 24px;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(135deg, #3fa535 0%, #c8e514 100%),
    linear-gradient(to right, #ffffff, #c8e514);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 1px solid transparent;

    img {
      width: 32px;
      display: block;
      margin-right: 16px;
    }

    &:hover,
    &:focus {
      background: linear-gradient(135deg, #c8e514 0%, #3fa535 100%);
    }
  }

  @media all and (max-width: 1340px) {
    .bg_frosted {
      padding: 25px 20px;
    }
    &__logo {
      max-width: 135px;
      padding-right: 20px;
    }
    &__logo-site {
      margin-left: 30px;
      max-width: 115px;
    }
    &__nav {
      text-align: center;
    }
  }
  @include mixins.respond-to(variables.$lg) {
    .header__logo {
      max-width: 109px;
    }

    .header__logo-site {
      max-width: 75px;

      img {
        vertical-align: middle;
      }
    }
    .menu {
      font-size: 14px;
      align-items: center;
    }
  }
  @include mixins.respond-to(variables.$md) {
    &__logo {
      padding-right: 0;
      max-width: 113px;

      &:after {
        display: none;
      }
    }
    .btn-close,
    .btn-burger,
    &__nav-bar {
      display: block;
    }
    &__nav {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      transition: transform .5s;
      transform: translateX(100%);
      z-index: 999;
      padding-left: 96px;
      background-color: transparent;

      &.open {
        transform: translateX(0);
      }

      .menu {
        flex-direction: column;
        align-items: start;
        font-size: 18px;
        color: #1e1e1e;

        &__item {
          margin-bottom: 10px;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;

          &:before {
            display: none;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .social-list {
        display: flex;

        &__item {
          width: 24px;
          height: 24px;
          margin-right: 22px;

          &:last-child {
            margin-right: 0;
          }
        }

        &__link {
          display: block;
        }
      }

      .switch-lang {
        font-size: 18px;
        margin-bottom: 50px;
        margin-left: 0;

        &__link {
          margin-right: 18px;

          &:last-child {
            margin-right: 0;
          }
        }

        .active-lang {
          font-weight: 700;
        }

      }
    }

    &__nav-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 90px 27px 90px 73px;
      border-radius: 20px 0 0 20px;
      background-color: #fff;
      text-align: left;
      height: 100%;
    }
    &__logo-site {
      display: none;
    }
    .bg_frosted {
      padding: 20px 26px;
    }
    .switch-lang {
      margin-right: 22px;
      margin-left: auto;
    }
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  z-index: 500;
}

